.container{
    background-color: rgb(0, 102, 255);

}
label{
    font-weight: bold;
    background-color: black;
    color:white;
}
#input-fields{
    position: relative;
    width: 400px;
    height: 30px;
    border: 3px solid black;
}
input{
    margin-bottom:13px
}
h3{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size:x-large;
}

.container{
    width: 100%;
}
#form-container{
 position: relative;
 margin-left: 39%;
}
input[type=submit] {
    width: 20%;
    height: 40px;
}